-
    const SOCIALS = [
        {
            iconImg: 'icon-twitter.png',
            iconAlt: 'twitter',
            iconUrl: 'https://twitter.com/',
        },
        {
            iconImg: 'icon-linkedin.png',
            iconAlt: 'linkedin',
            iconUrl: 'https://www.linkedin.com/',
        },
        {
            iconImg: 'icon-email.png',
            iconAlt: 'email',
            iconUrl: 'mailto:fyarrss@ferreryasociados.mx',
        },
    ]

header.header
    navbar.wrap-xl
        a(href="index.html" rel="noopener") 
            img(src=`${pathImg}ferrer.png` class="animate__animated animate__fadeInUp" alt="Ferrer & Asociados")
        .menu-icon
            span.menu-icon__line
            span.menu-icon__line
            span.menu-icon__line
        ul.menu-list
            each item in MENU_ITEMS
                li.animate__animated.animate__fadeInUp: a(href=`${item.itemUrl}` rel="nooeper") !{`${item.item}`}
ul.contacto-list
    each item in SOCIALS
        li
            a(href=`${item.iconUrl}` rel="noopener" target="_blank") 
                img(src=`${pathImg}${item.iconImg}` alt=`${item.iconAlt}`)