-
    const CLIENTES = [
        {
            logo: 'logo-italika.png',
            logoAlt: 'Italika',
            logoUrl: '',
        },
        {
            logo: 'logo-tv-azteca.png',
            logoAlt: 'Tv azteca',
            logoUrl: '',
        },
        {
            logo: 'logo-grupo-elektra.png',
            logoAlt: 'Elektra',
            logoUrl: '',
        },
        {
            logo: 'logo-total-play.png',
            logoAlt: 'Total play',
            logoUrl: '',
        },
        {
            logo: 'logo-banco-azteca.png',
            logoAlt: 'Banco azteca',
            logoUrl: '',
        },
    ]

ul.mosaico-clientes.wrap-sm
    each item in CLIENTES
        li.animate__animated.animate__fadeInUp
            .mosaico-clientes__box-icon
                img(src=`${pathImg}${item.logo}` alt=`${item.logoAlt}`)
            h3 !{`${item.logoAlt}`} 