extend ../templates/main
block content

    section.bg-default.subheader
        article.wrap-sm
            .subheader__title
                h1.blanco.t1.text-ac.animate__animated.animate__fadeInUp Servicios y soluciones

    -
        const CONSULTORIA_PROCESOS = [
            {
                itemTitulo: 'Arquitectura',
                itemDescripcion: 'Definición  y ordenamiento de la operación de un negocio  mediante la estructura y representación de todos los niveles de procesos',
                itemServicios: [
                    'Caso de negocio',
                    'Cadena de valor',
                    'Mapa de procesos',
                    'Manual de políticas',
                    'Manuales de procedimientos',
                    'Matriz de roles y responsabilidades',
                    'Acuerdos de niveles de servicio',
                ],
            },
            {
                itemTitulo: 'Análisis',
                itemDescripcion: 'Entendimiento claro de la operación de negocio del cliente, detectando  áreas de oportunidad que sean presentadas mediante un diagnóstico y plan de acción.',
                itemServicios: [
                    'Diagnóstico',
                    'Plan de acción',
                ],
            },
            {
                itemTitulo: 'Diseño',
                itemDescripcion: 'Propuestas  disruptivas de nuevos procesos o modificaciones a procesos existentes (propuesta “To Be” del proceso) y un plan de acción para su aplicación.',
                itemServicios: [
                    'Propuesta de procesos To Be',
                    'Manuales de políticas y procedimientos To Be',
                    'Matriz de riesgos y controles',
                    'Matriz de roles y responsabilidades To Be',
                    'Tableros de indicadores y métricas',
                    'Mapas de sistemas utilizados',
                ],
            },
            {
                itemTitulo: 'Transformación',
                itemDescripcion: 'Consultoría digital en los procesos de una empresa y puede estar representada mediante una automatización, digitalización, robotización entre otras soluciones.',
                itemServicios: [
                    'Plan de acción',
                    'Administración ágil',
                    'Uso de otras soluciones TI',
                    'Comunicación asertiva',
                ],
            },
            {
                itemTitulo: 'Mejora Continua',
                itemDescripcion: 'Replanteamiento de una nueva iniciativa del proceso partiendo de una propuesta “To Be”ya implementada.',
                itemServicios: [
                    'Plan de revisiones del proceso',
                    'Informe',
                    'Plan de acción',
                    'Comunicación asertiva',
                ],
            },
        ]

        const CONSULTORIA_PREVEENCION = [
            {
                itemTitulo: 'Implementar área AI',
                itemDescripcion: 'Creamos dentro de tu empresa equipos especializados en auditoría enfocada en la prevención.',
                itemServicios: [
                    '● Experiencia acumulada y probada en el desarrollo de equipos ágiles',
                    '● Analizar la situación e identificar las necesidades',
                    '● Implementar un proceso dinámico y efectivo',
                    '● Apoyar el proceso en tecnología de punta',
                    '● Documentar el flujo de trabajo',
                ],
                itemTarget: 'prevencion1',
            },
            {
                itemTitulo: 'Controles y procesos',
                itemDescripcion: 'Validamos efectividad de  controles y cumplimiento de procesos y políticas.',
                itemServicios: [
                    '● Amplia experiencia en revisiones integrales de procesos y la gestión de los negocios',
                    '● Analizar la situación e identificar desviaciones y áreas de mejora', 
                    '● Enfoque a prevenir que se repitan situaciones indeseadas',
                    '● Uso de herramientas tecnológicas de punta',
                    '● Recomendar acciones y mejoras en los procesos',
                    '● Comunicación clara y en tiempo a todos los niveles', 
                    '● Dar seguimiento puntual a la ejecución de las acciones',
                ],
                itemTarget: 'prevencion2',
            },
            {
                itemTitulo: 'Control de inventarios',
                itemDescripcion: 'Realizamos levantamiento de inventarios físicos en todo el país, analizando la gestión operativa de las existencias.',
                itemServicios: [
                    '● Entender la necesidad',
                    '● Proceso adaptado a la operación',
                    '● Uso de herramientas tecnológicas',
                    '● Recomendar acciones y mejoras', 
                    '● Asesoramiento en al gestión',
                ],
                itemTarget: 'prevencion3',
            },
            {
                itemTitulo: 'Proyectos especiales',
                itemDescripcion: 'Ejecutamos revisiones con propósitos específicos de acuerdo a tus necesidades.',
                itemServicios: [
                    '● Expertise en la atención de este tipo de necesidades',
                    '● Entender bien lo que se requiere y ejecutar en consecuencia',
                    '● Comunicación en tiempo y forma',
                    '● Adaptar los entregables de acuerdo a la necesidad',
                ],
                itemTarget: 'prevencion4',
            },
            {
                itemTitulo: 'Normativas (Banca)',
                itemDescripcion: 'Replanteamiento de una nueva iniciativa del proceso partiendo de una propuesta “To Be”ya implementada.',
                itemServicios: [
                    'Dinos qué necesitas y buscaremos la mejor solución para tu negocio basados en nuestra experiencia y tecnología.'
                ],
                itemTarget: 'prevencion5',
            },
            {
                itemTitulo: 'Forense',
                itemDescripcion: 'Nos enfocamos al análisis forense digital, investigaciones dirigidas, así como capacitación y formación en técnicas de investigación forense.',
                itemServicios: [
                    'Dinos qué necesitas y buscaremos la mejor solución para tu negocio basados en nuestra experiencia y tecnología.'
                ],
                itemTarget: 'prevencion6',
            },
            {
                itemTitulo: 'Redes Sociales',
                itemDescripcion: 'Monitoreamos tus RRSS: respuesta oportuna, control de ataques a la reputación, atención de denuncias, etc.',
                itemServicios: [
                    '● Monitorear y controlar la interacción de las redes sociales de tu negocio',
                    '● Identificar quejas y entradas que puedan afectar la reputación',
                    '● Comunicación en tiempo y forma',
                    '● Adaptar el monitoreo y reporte a tus necesidades',
                ],
                itemTarget: 'prevencion7',
            },
            {
                itemTitulo: 'Atención línea ética',
                itemDescripcion: 'Implementamos, administramos e investigamos las denuncias de la línea ética.',
                itemServicios: [
                    '● Experiencia en el tratamiento de casos complejos y sensibles con la mayor confidencialidad y cuidado para las partes involucradas',
                    '● Proceso desarrollado y mejorado por años de experiencia en el manejo de líneas éticas',
                    '● Uso de herramientas tecnológicas y canales que facilitan el funcionamiento de la línea ética',
                ],
                itemTarget: 'prevencion8',
            },
        ]

    section.bg-default.slideshow-container

        //- CONSULTORPÍA DE PROCESOS
        .mySlides.fade.animate__animated.animate__fadeInLeftBig
            article.wrap-lg.procesos
                .procesos__item
                    img(src=`${pathImg}consultoria-de-procesos.png` alt="Consultoría de procesos")
                .procesos__item
                    h2.blanco.t3 Consultoría de Procesos
                    p.blanco.t6 Estamos hechos para hacerte crecer mediante  el análisis, diseño y transformación de procesos de negocio.
            article.wrap-lg.servicios-soluciones
                ul.lista-procesos
                    each item in CONSULTORIA_PROCESOS
                        li.lista-procesos__item
                            h3.blanco.t5.text-ac !{`${item.itemTitulo}`}
                            hr.lista-procesos__separador
                            p.blanco.t6.text-ac !{`${item.itemDescripcion}`}
                            .lista-procesos__servicios.cinco
                                each servicio in item.itemServicios
                                    p.default.t6.text-ac !{`${servicio}`}

        //- CONSULTORÍA DE PREVENCIÓN Y AUDITORÍA INTERNA
        .mySlides.fade.animate__animated.animate__fadeInLeftBig
            article.wrap-lg.procesos
                .procesos__item
                    img(src=`${pathImg}consultoria-de-prevencion-y-auditoria-interna.png` alt="Consultoría de procesos")
                .procesos__item
                    h2.blanco.t3 Consultoría de Prevención y Auditoría Interna
                    p.blanco.t6 Cuidamos las operaciones de tu negocio para que tú te dediques a lo importante: crecer y ganar.
            article.wrap-lg.servicios-soluciones
                .lista-procesos-alt
                    each item, key in CONSULTORIA_PREVEENCION
                        if key < 4
                            a(class="lista-procesos-alt__item" href=`#${item.itemTarget}`) 
                                h3.blanco.t5.text-ac !{`${item.itemTitulo}`}
                                hr.lista-procesos-alt__separador
                                p.blanco.t6.text-ac !{`${item.itemDescripcion}`}
                .lista-procesos-alt
                    each item, key in CONSULTORIA_PREVEENCION
                        if key > 3
                            a(class="lista-procesos-alt__item" href=`#${item.itemTarget}`) 
                                h3.blanco.t5.text-ac !{`${item.itemTitulo}`}
                                hr.lista-procesos-alt__separador
                                p.blanco.t6.text-ac !{`${item.itemDescripcion}`}
        
        each item in CONSULTORIA_PREVEENCION
            div(class="lista-procesos-modal-open" id=`${item.itemTarget}`)
                .lista-procesos-modal-open__box
                    h3.default.t4 !{`${item.itemTitulo}`}
                    h4.default.t5 ¿Qué ofrecemos?
                    each servicios in item.itemServicios
                        p.default.t6 !{`${servicios}`}
                    a(href="#" class="lista-procesos-modal-open__cerrar")

        .dots
            span(class="dot" onclick="currentSlide(1)") 
            span(class="dot" onclick="currentSlide(2)") 
            //- span(class="dot" onclick="currentSlide(3)")
            //- span(class="dot" onclick="currentSlide(4)")
            //- span(class="dot" onclick="currentSlide(5)")
            //- span(class="dot" onclick="currentSlide(6)")
            //- span(class="dot" onclick="currentSlide(7)")
            //- span(class="dot" onclick="currentSlide(8)")
            //- span(class="dot" onclick="currentSlide(9)")